<div ng-controller="HomeController">

  <h3>{{title}}</h3>

  <h2>{{tagline}}</h2>

  <h4>Type or say something, and choose the language you would like to translate into.</h4>

  <div class="card"><a href="#/search">
    <img class="card-img-top" data-src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Search</h4>
      <p class="card-text">Search some text or talk and serach</p>
      <a href="#" class="btn btn-primary">Search</a>
    </div>
  </a>
  </div>

  <div class="card"><a href="#/chat">
    <img class="card-img-top" data-src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Chat</h4>
      <p class="card-text">chat it up</p>
      <a href="#" class="btn btn-primary">Chat</a>
    </div>
  </a>
  </div>

</div>
