body {
  margin: 0 auto;
}

li {
  list-style: none;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.form input, .form select {
  width: 50vw;
  margin: 0 auto;
}
